{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.audiobooks'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'table.audiobooks'|trans }}
    </h1>
    {% if paginator.data is defined and paginator.data|length %}
        <table>
            <tr>
                <th>{{ 'table.author'|trans }} </th>
                <th>{{ 'table.title'|trans }} </th>
                <th>{{ 'table.year'|trans }} </th>
            </tr>
            {% for row in paginator.data %}
                <tr>
                    <td>{{ row.author }}</td>
                    <td><a href= "{{ url('audiobook_display', {'id': row.title_id}) }}">{{ row.title }}</a></td>
                    <td id="year">{{ row.year }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

    <h3>
        <li><a href="{{ url('homepage') }}">{{ 'homepage.back.label'|trans }}</a></li>
    </h3>


{% endblock %}