{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.audiobooks'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'table.audiobooks'|trans }}
    </h1>
    {% if paginator.data is defined and paginator.data|length %}
        <table>
            <tr>
                <th>{{ 'table.id'|trans }} </th>
                <th>{{ 'table.author'|trans }} </th>
                <th>{{ 'table.title'|trans }} </th>
                <th>{{ 'table.year'|trans }} </th>
            </tr>
            {% for row in paginator.data %}
                <tr>
                    {#<td>{{ row.id }}</td>#}
                    <td>{{ row.author }}</td>
                    <td>{{ row.title }}</td>
                    <td>{{ row.year }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

{% endblock %}