{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.albums'|trans }}
{% endblock %}

{% block body %}

   {# {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'album_index',
    } %}#}


    <h1>
        {{ 'table.albums'|trans }}
    </h1>
    {% if paginator.data is defined and paginator.data|length %}
        <table>
            <tr>
                <th>{{ 'table.artist'|trans }} </th>
                <th>{{ 'table.album'|trans }} </th>
                <th>{{ 'table.year'|trans }} </th>
            </tr>
            {% for row in paginator.data %}
                <tr>
                    <td>{{ row.artist }}</td>
                    <td><a href= "{{ url('album_display', {'id': row.album_id}) }}">{{ row.album }}</a></td>
                    <td id="year">{{ row.year }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

    <h3>
        <li><a href="{{ url('homepage') }}">{{ 'homepage.back.label'|trans }}</a></li>
    </h3>

{% endblock %}