{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.album_id'|trans }}
{% endblock %}

{% block body %}

    <style>
        h2 {align-items: right;}
        table {border: 4px solid #8959A8;}
        th, td {
            border: 2px solid #8959A8;
            text-align: center;
            background-color: plum;
            font-family: sans-serif;
            color: white}
    </style>

    <h1>
        {{ 'table.albums_view'|trans }}
    </h1>

    {% if album is defined and album|length %}
    <table>
    <tr>
        <th>{{ 'table.track_id'|trans }} </th>
        <th>{{ 'table.title'|trans }} </th>
        <th>{{ 'table.album'|trans }} </th>
        <th>{{ 'table.artist'|trans }} </th>
    </tr>
    {% for row in album %}
        <tr>
            <td>{{ row.track_id }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.album }}</td>
            <td>{{ row.artist }}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

{% endblock %}