{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.album_id'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'table.albums_view'|trans }}
    </h1>

    {% if album is defined and album|length %}
    <table>
    <tr>
        <th>{{ 'table.track_id'|trans }} </th>
        <th>{{ 'table.title'|trans }} </th>
       {# <th>{{ 'table.album'|trans }} </th>
        <th>{{ 'table.artist'|trans }} </th>#}
    </tr>
    {% for row in album %}
        <tr>
            <td>{{ row.track_id }}</td>
            <td>{{ row.title }}</td>
           {# <td>{{ row.album }}</td>
            <td>{{ row.artist }}</td>#}
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

    <h3>
        <li><a href="{{ url('album_index') }}">{{ 'index.back.label'|trans }}</a></li>
    </h3>
    <h3>
        <li><a href="{{ url('homepage') }}">{{ 'homepage.back.label'|trans }}</a></li>
    </h3>

{% endblock %}