{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.view_podcasts'|trans }}
{% endblock %}

{% block body %}

    <h1>
        {{ 'table.podcasts_view'|trans }}
    </h1>

    {% if podcast is defined and podcast|length %}
        <table>
            <tr>
                <th>{{ 'table.episode_id'|trans }} </th>
                <th>{{ 'table.episode_title'|trans }} </th>
               {# <th>{{ 'table.title'|trans }} </th>
                <th>{{ 'table.author'|trans }} </th>#}
            </tr>
            {% for row in podcast %}
                <tr>
                    <td>{{ row.episode_id }}</td>
                    <td>{{ row.episode_title }}</td>
                 {#   <td>{{ row.title }}</td>
                    <td>{{ row.author }}</td>#}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

    <h3>
        <li><a href="{{ url('podcast_index') }}">{{ 'index.back.label'|trans }}</a></li>
    </h3>
    <h3>
        <li><a href="{{ url('homepage') }}">{{ 'homepage.back.label'|trans }}</a></li>
    </h3>

{% endblock %}